@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');

:root {
  --ff-primary: "Plus Jakarta Sans", sans-serif;

  --color-red-500: hsl(1, 90%, 64%);
  --color-white: hsl(0, 100%, 100%);
  --color-blue-100: hsl(211, 68%, 94%);
  --color-blue-700: hsl(228, 45%, 44%);
  --color-blue-950: hsl(219, 85%, 26%);
  --color-navy-50: hsl(210, 60%, 98%);
  --color-navy-100: hsl(205, 33%, 90%);
  --color-navy-950: hsl(224, 21%, 14%);
  --color-gray-500: hsl(219, 14%, 63%);
  --color-gray-600: hsl(219, 12%, 42%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  font-family: var(--ff-primary);
  font-size: 16px;
  background-color: var(--color-navy-50);
}
