@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.product-intro-container {
  position: relative;
  width: 100%;
  padding: 40px 30px;
  background-color: var(--color-white);
  border-radius: 8px;
  text-align: center;
  margin-bottom: 20px;

  .product-icon {
    position: absolute;
    top: -28px;
    left: 50%;
    transform: translateX(-50%);
  }

  .product-name {
    font-size: 24px;
    font-weight: 700;
    color: var(--color-black);
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .product-desc {
    font-size: 14px;
    color: var(--color-gray-500);
    margin-bottom: 30px;
  }

  .btn-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@include respond-desktop(sm) {
  .product-intro-container {
    padding: 40px 20px;
  }
}
