@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.toolbar-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 2px solid var(--color-neutral-800);
}

@include respond-desktop(lg) {
  .toolbar-container {
    flex-direction: column;
    padding: 16px 0;
  }
}
