@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.typing-area-container {
  position: relative;
  flex: 1;

  .typing-block {
    position: relative;
    font-size: 30px;
    font-weight: 400;
    line-height: 2;
    color: var(--color-neutral-400);
    padding: 30px 0;

    &.blur {
      filter: blur(10px);
    }

    .typing-input {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;
    }

    .typing-char {
      &.current {
        background-color: var(--color-neutral-500);
      }

      &.correct {
        color: var(--color-green-500);
      }

      &.incorrect {
        color: var(--color-red-500);
        text-decoration: var(--color-red-500) underline;
      }
    }
  }

  .typing-mask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 200px;

    .desc {
      font-size: 16px;
      font-weight: 600;
      color: var(--color-neutral-0);
      margin-top: 16px;
    }
  }

  .typing-toolbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-top: 1px solid var(--color-neutral-800);
  }
}

@include respond-desktop(md) {
  .typing-area-container  {
    .typing-block {
      font-size: 24px;
      padding: 24px 0;
    }
  }
}
