@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.checkbox-container {
  position: relative;
  display: flex;
  align-items: flex-start;
  padding-left: 50px;
  padding-right: 8px;
  cursor: grab;

  > input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
  }

  .label {
    font-size: 24px;
    color: var(--color-text-title);
    word-break: break-word;
    cursor: pointer;
  }

  .checkmark {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background: var(--color-bg-check);
    cursor: pointer;

    &:after {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      content: "";
      width: 22px;
      height: 22px;
      border-radius: 100%;
      background-color: var(--color-bg-check-active);
    }
  }

  &:hover input ~ .checkmark {
    background: linear-gradient(to bottom right, var(--color-bg-check-completed-linear-top), var(--color-bg-check-completed-linear-bottom));
  }

  input:checked ~ .checkmark {
    background: linear-gradient(to bottom right, var(--color-bg-check-completed-linear-top), var(--color-bg-check-completed-linear-bottom));

    &:after {
      background-color: transparent;
      background-image: url('@/assets/images/icons/icon-check.svg');
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  input:checked ~ .label {
    color: var(--color-text-completed);
    text-decoration: line-through;
  }

  input:focus-visible ~ .checkmark {
    outline: 2px solid var(--color-text-button-active);
    outline-offset: 3px;
  }
}

@include respond-desktop(md) {
  .checkbox-container {
    .label {
      font-size: 18px;
    }
  }
}
