.dropdown-container {
  position: relative;
  z-index: 10;
  
  .dropdown-content {
    position: absolute;
    top: 50px;
    right: 0;
    width: 180px;
    background-color: var(--color-neutral-800);
    border: 1px solid var(--color-neutral-600);
    border-radius: 10px;
    padding: 4px;

    .switch-btn {
      justify-content: flex-start;
      margin-top: 4px;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .dropdown-list {
      padding: 4px 0;

      > li {
        padding: 4px 0;
        border-bottom: 1px solid var(--color-neutral-600);

        &:last-child {
          border-bottom: none;
        }
      }

      .title {
        font-size: 14px;
        font-weight: 300;
        color: var(--color-neutral-300);
        padding: 8px;
      }

      .unit {
        position: relative;
        font-size: 14px;
        font-weight: 500;
        color: var(--color-neutral-200);
        padding: 8px;

        &.active {
          background-color: var(--color-neutral-700);
          border-radius: 8px;

          &:after {
            position: absolute;
            top: 50%;
            right: 8px;
            transform: translateY(-50%);
            display: block;
            content: "";
            width: 14px;
            height: 11px;
            background-image: url('@/assets/images/icons/icon-checkmark.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
          }
        }
      }
    }
  }
}
