@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.content-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;

  > div:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  > div:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  @include respond-desktop(md) {
    max-width: 300px;
    flex-direction: column;

    > div:first-child {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 0;
      border-top-right-radius: 8px;
    }

    > div:last-child {
      border-top-right-radius: 0;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }
  }
}
