.cart-container {
  padding: 20px;
  background-color: var(--color-rose-50);
  border-radius: 10px;
  height: fit-content;
  text-align: center;

  .cart-title {
    font-size: 20px;
    font-weight: 700;
    color: var(--color-red-400);
    margin-bottom: 20px;
    text-align: left;
  }

  .cart-image {
    margin-bottom: 20px;
  }

  .cart-desc {
    font-size: 16px;
    font-weight: 600;
    color: var(--color-rose-500);
  }
}
