.hero-page {
  margin-bottom: 40px;

  .title {
    font-family: var(--ff-bricolage);
    font-size: 44px;
    font-weight: 700;
    color: var(--color-neutral-0);
    text-align: center;
    margin-bottom: 60px;
  }
}
