@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.app-container {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

.main-container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  padding: 30px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
}

.logo-container {
  margin-bottom: 100px;
}

@include respond-desktop(lg) {
  .logo-container {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

@include respond-desktop(sm) {
  .main-container {
    padding: 0;
  }
}
