@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.header-container {
  max-width: 1200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 30px 20px;

  .logo {
    display: flex;
    align-items: center;

    .hidden {
      display: block;
      position: absolute;
      width: 1px;
      height: 1px;
      overflow: hidden;
      clip-path: inset(50%);
      white-space: nowrap;
    }
  }
}

@include respond-desktop(xxs) {
  .header-container {
    .logo {
      width: 150px;
    }
  }
}
