@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.order-item-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
  border-bottom: 1px solid var(--color-rose-100);
  text-align: left;

  .item-name {
    font-weight: 600;
    color: var(--color-rose-900);
    margin-bottom: 12px;
  }

  .item-quantity{
    font-weight: 600;
    color: var(--color-red-400);
    margin-right: 16px;
  }

  .item-price {
    font-weight: 400;
    color: var(--color-rose-400);
    margin-right: 16px;
  }

  .item-total-price {
    font-weight: 600;
    color: var(--color-rose-500);
  }

  .delete-btn {
    max-width: none;
    width: 16px;
    height: 16px;
    background-color: var(--color-rose-50);
    padding: 0;
    border-radius: 100%;
    border: 1px solid var(--color-rose-300);

    &:hover {
      border: 1px solid var(--color-rose-400);

      svg path {
        fill: var(--color-rose-400);
      }
    }
  }
}

.order-total-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;

  .title {
    font-weight: 400;
    color: var(--color-rose-500);
  }

  .price {
    font-size: 30px;
    font-weight: 700;
    color: var(--color-rose-900);
  }
}

.order-note {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: var(--color-rose-100);
  border-radius: 8px;
  margin-bottom: 20px;

  p {
    margin-left: 8px;
  }

  span {
    font-weight: 600;
  }
}

.order-confirm-btn {
  background-color: var(--color-red-400);
  color: var(--color-rose-100);
  padding: 16px;
  border-radius: 50px;

  &:hover {
    background-color: var(--color-red-600);
  }
}

@include respond-desktop(xs) {
  .order-note {
    padding: 20px 8px;

    p {
      margin-left: 4px;
    }
  }
}

@include respond-desktop(xxs) {
  .order-note {
    p {
      font-size: 14px;
      white-space: nowrap;
    }
  }
}
